a:hover {
    color: white;
    text-decoration: none;
    font-size: 1em;
}
a:visited {
    color: white;
    text-decoration: none;
}
a
{
    text-decoration: none;
    color: white;
}
table, td
{
    
    text-align: center;
}
table{
    margin: auto;
    width: 50%;
    height: 50%;
}
.pirmaeilute
{
    height: 40pt;
    vertical-align: middle;
    background-color: black;
}
.langelis
{
    background-color: black;
}
.antraste
{
    text-align: center;
    font-family: "Times New Roman", serif;
    font-style: italic;
    font-size: 3em;
    color: white;
    background-color: black;
    position: relative;
}
.antraste2
{
    text-align: center;
    font-family: "Times New Roman", serif;
    font-style: italic;
    font-size: 3em;
    color: white;
    background-color: black;
    position: sticky;
     top: 0;
  padding: 5px;
   
   
}
.paveikslelis
{
    margin-left: 2cm;
    
}
.pastraipa
{
    text-align: justify;
    font-family: "Times New Roman", serif;
    margin-left: 2cm;
   margin-right: 2cm;
}

.sarasas
{
    font-family: "Times New Roman", serif;
    
    margin-left: 2cm;
}