.antraste
{
    text-align: center;
    font-family: "Times New Roman", serif;
    font-size: 3em;
    color: white;
    background-color:  #9198e5;
    position: relative;
}
.pastraipa
{
    text-align: left;
    font-family: "Times New Roman", serif;
    color: white;
    font-size: 1.5em;
    margin-left: 2cm;
}
body {
    background: linear-gradient(0.25turn, #e66465, #9198e5);
}